# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.dist-info/
*.tmp

# Jupyter
.ipynb_checkpoints

# Node
node_modules/
.next/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
